*
{
	cursor: url(cursor.cur), auto;
}


body
{
	background: url(porun.png);
	background-size: cover;
    background-color: #101010;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	color: purple;
}


#naglowek
{
	font-size: 100px;
	margin-left: -95px;
	font-family: 'UnifrakturMaguntia', cursive;
}

#body
{
	height: 700px;
	width: 600px;
	background-color: #1a001a;
	margin-top: -100px;
}

#pasek
{
	color: black;
	height: 70px;
	width: 600px;
	background-color: purple;
	padding-bottom: 60px;
	margin-top: -80px;
}

#minusik
{
	float: right;
	margin-right: 10px;
}


.link {
	display: table;
	margin-bottom: 10px;
	transition: all 500ms;
	margin-top:20px;
	margin-left: 20px;
	font-family: 'Orbitron', sans-serif;
}

.link:hover {
	background-color: black;
	transform: skew(-5deg, -5deg);
	transition: all 500ms;
	color: #ff00ff;
}


a:link
{
	color: purple;
	transition: all 1000ms;
	text-decoration: none;
}

a:visited
{
	color: purple;
}

a:hover
{
	transition: all 500ms;
	color: #ff00ff;
}

.soundcloud
{
	float: right;
	margin-top: -800px;
}

.yt
{
	float:right;
	margin-top: -620px;
}

#logo 
{
  animation: rotation 4s infinite linear;
  position: relative;
  z-index: 2;
  float: left;
  height: 70px;
  width: 70px;
  margin-top: 18px;
  margin-left: 18px;
  
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#logo:hover
{
	animation-play-state: paused;
}





