*
{
	cursor: url(cursor.cur), auto;
}


body
{
    background-color: #101010;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	color: purple;
}

#naglowek
{
	font-size: 100px;
}

.link {
	display: table;
	margin: 0px auto 0px auto;
	margin-bottom: 30px;
	transition: all 500ms;
}

.link:hover {
	background-color: black;
	transform: skew(-5deg, -5deg);
	transition: all 500ms;
	color: #ff00ff;
}


a:link
{
	color: purple;
	transition: all 1000ms;
	text-decoration: none;
}

a:visited
{
	color: purple;
}

a:hover
{
	transition: all 500ms;
	color: #ff00ff;
}

.rectangle
{
	height: 100px;
	width: 500px;
	background-color: purple;
	position: relative;
	top: -105px;
	z-index: 1;
	opacity: 0%;
}


#logo 
{
  animation: rotation 4s infinite linear;
  position: relative;
  z-index: 2;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}




