*
{
	cursor: url(cursor.cur), auto;
}


body
{
    background-color: #101010;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	color: purple;
}

#naglowek
{
	font-size: 100px;
	text-decoration: none;
}

a:link
{
	color: purple;
	transition: all 1000ms;
}

a:visited
{
	color: purple;
}

a:hover
{
	transition: all 500ms;
	color: #4F0A47;
}


.rectangle
{
	height: 100px;
	width: 500px;
	background-color: purple;
	position: relative;
	top: -105px;
	z-index: 1;
	opacity: 0%;
}


#logo 
{
  transition: transform 3s ease-in-out;
  position: relative;
  z-index: 2;
}
#logo:hover {
  transform: rotate(360deg);
  rectangle-opacity: 100%;
}


